@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutAuto.cshtml";
}


<style>
    .big-btn {
        padding: 10px 0px 11px 0px;
        width: 215px;
        margin-top: 5px;
    }

        .big-btn i {
            font-size: 65px;
            margin-right: 0px !important;
        }

        .big-btn strong {
            font-size: 25px;
            text-shadow: 1px 2px 0px #34659B;
            color: rgb(255, 255, 255);
            line-height: 24px;
        }

        .big-btn .btn-text {
            margin-top: 6px;
        }

        .big-btn small {
            font-size: 75%;
        }

    .android-btn {
        width: 240px;
        padding: 13px 17px 13px 0px;
        background-color: rgb(255, 255, 255);
        border-color: #000;
    }

        .android-btn:hover {
            background-color: #272727;
        }

        .android-btn i {
            font-size: 55px;
        }

        .android-btn .btn-text {
            margin-top: 0px;
        }

        .android-btn strong {
            font-size: 25px;
            text-shadow: none;
            color: #fff;
            line-height: 24px;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>

<h2>Últimas Notícias</h2>


<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>Atenção Comerciantes, Atacadistas ou Varejistas</h2>
        <p>
            Seja um dos primeiros a testar a novidade. Baixe o aplicativo MaisBarato.App para cadastrar produtos e suas ofertas - gratuitamente!
        </p>
        <p>
            <a href='https://play.google.com/store/apps/details?id=com.maisbarato.maisbaratoapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="btn btn-lg btn-success big-btn android-btn" alt='Disponível no Google Play' src='https://play.google.com/intl/pt-BR/badges/images/generic/pt-br_badge_web_generic.png' /></a>
        </p>
        <p>
            Android é uma marca registrada da Google LLC.
        </p>
        <p>
            Google Play e o logotipo do Google Play são marcas registradas da Google LLC.
        </p>

    </div>

    <div class="col-md-4">
    </div>

</div>


<!--

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>Receita Federal do Brasil</h2>
        <p>
        <a href="http://idg.receita.fazenda.gov.br/">Declaração de Imposto de Renda 2018 e consulta de CPF junto ao site oficial da Receita Federal do Brasil está disponível em http://www.receita.fazenda.gov.br</a>
    </div>

    <div class="col-md-4">
    </div>
</div>


<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2>Brazil's Federal Revenue</h2>
        <p>
        <a href="http://idg.receita.fazenda.gov.br/">Statement of Income Tax 2018 and CPF consultation with the official website of the Federal Revenue of Brazil is available in http://www.receita.fazenda.gov.br</a>
    </div>

    <div class="col-md-4">
    </div>
</div>
    -->
