@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Suporte (dúvidas, reclamações, sugestões e elogios) :</strong> <a href="mailto:maisbaratocomapp@gmail.com">maisbaratocomapp@gmail.com</a><br />
</address>

<address>
    <strong>
        <a asp-area="" asp-controller="Home" asp-action="Privacypolicy">Política de Privacidade</a>
    </strong>
</address>
