@{
    ViewBag.Title = "Cpf_Cnpj_IRPF_IRPJ_Comex_Receita_Federal_Brasil";
    Layout = "~/Views/Shared/_LayoutRFB.cshtml";
}

<h2>Cpf Cnpj IRPF IRPJ Comex Receita Federal Brasil</h2>

<div class="row">
    <div class="col-md-12">

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <a href="http://idg.receita.fazenda.gov.br/">Declaração de Imposto de Renda 2018 e consulta de CPF junto ao site oficial da Receita Federal do Brasil está disponível em http://www.receita.fazenda.gov.br</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <a href="http://idg.receita.fazenda.gov.br/">Statement of Income Tax 2018 and CPF consultation with the official website of the Federal Revenue of Brazil is available in http://www.receita.fazenda.gov.br</a>
    </div>
</div>



